*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
Transfer Dock_Text_20260822151554.txt
.DS_Store
/build
/app/release/
/captures
.externalNativeBuild
.cxx
local.properties
